<div id="intro">
	 <p><span id="introfw">Mad Libs:</span></p>
	 <p>A phrasal template word <span class="highlight">game</span> where you, the player, are prompted for a list of words to substitute for blanks in the story before reading the - often comical or <span class="highlight">nonsensical</span> - story aloud. This game is frequently played as a <span class="highlight">party</span> game or as a pastime. Choose a theme and have fun!   </p>
	<br>
	<a href="#/cafeteria">Our Cafeteria</a>
</div>

<div>
	{{test}}
</div>