<div id="intro">
	
		<div id="introContent" class="col-md-4 col-md-push-4">
				
				<!-- Title: Mad Libs -->
			 <p id="intro-title"><span id="m">M</span><span id="a">a</span><span id="d">d</span> <span id="l">L</span><span id="i">i</span><span id="b">b</span><span id="s">s</span><span id="colon">:</span></p>
			 
			 
			 <p>A phrasal template word <span class="highlight" id="highlight1">game</span> where you, the player, are prompted for a list of words to substitute for blanks in the story before reading the - often comical or <span class="highlight" id="highlight2">nonsensical</span> - story aloud. This game is frequently played as a <span class="highlight"id="highlight3">party</span> game or as a pastime. Choose a theme and have fun!   </p>
			 
			
		</div>

	
</div>



