

/*Color Classes*/
.blue{
	color: #199EFF;
}

/*General Page Styling*/
.horizontalRule {
	
}
#main-container{
	margin-left: 6em;
	margin-right: 6em;
}


/*Navigation Styling*/
#nav-wrapper {

}
ul.nav a:hover{
	color: #FFFF00 !important;
}

ul.nav #pageTitle {
	color: #FFFF00;
}

ul.nav #homelink {
	color: #199EFF;
}

ul.nav #aboutlink {
	color: #CC1814;
}



/*Sticky Footer*/
#site-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#content-wrapper{
	flex: 1;
	padding: 0;
}


/*Footer Styling*/
#footerContentContainer {
	text-align: center;
	color: #00B239;
	background-color: #373A3C;
	width: 100%;
	padding: 2em;
}



/* Jumbotron Styling */
#jumbotronImg{
	width: 100%;
}

#jumbotron {
	margin-bottom: 1em;
}

/*Home Page Styling*/

#intro {
	display: flex;
	flex-direction: column;

}

#intro-title {
	font-size: 2em;
	margin-bottom: 0;
}

#m{
	color: #CC1814;
}
#a{
	color: #199EFF;
}
#d{
	color:#00B239;
}
#l{
	color: #CC1814;
}
#i{
	color: #199EFF;

}
#b{
	color:#00B239;

}
#s{
	color: #CC1814;
}
#colon{
	color: #199EFF;
}

#introContent {
	text-align: left;
	font-family: georgia, times, "Times New Roman", serif;
	line-height: 2em;
	word-spacing: 0.25em;
} 

.highlight {
	font-size: 2em;
}

#highlight1 {
	color: #CC1814;
}

#highlight2 {
	color: #199EFF;
}

#highlight3 {
	color: #00B239;
}

#titles-block{
	background-color: #ECEFF0;
	padding-left: 5em
	
}

#titles-block a {
	text-decoration: none;
	color: #199EFF;

}

#titles-block a:hover{
	color: #00B239;
	
}


/*Our Cafeteria Styling*/
#cafeteria-page{
	padding-left: 8em;
}

#cafeteria-content-wrapper{
	margin-bottom: 4em;
	margin-left: 4em;

}

#blinders{
	border-radius: 5px;
	background-color: #199EFF; 
	border: solid;
	padding: .5em;
	margin-bottom: .5em;
	border-width: 2px;
}

#blinder-button-container{
	text-align: center;
	margin-bottom: 0.5em
}



.input-blank {
	border-radius: 2.5px;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 2px;
}

#blanks-wrapper {
	padding-top: 9em;
	text-align: center;

}

#content-form::first-letter{
	font-size: 200%;
	padding: 0;
}


#content-form{
	word-spacing: 0.25em;
	text-indent: 1em;
	line-height: 2em;
	margin-top: 1;
	margin-bottom: 0.5em;
	padding: 1em;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #43C66D;
	background-color: #ECEEEF;

}

#exit-button{
	background-color: #CC1814;
	margin-top: 0.5em;
	border-color: #373A3C;
	color: #373A3C;
}

#exit-button-container {
	text-align: center;
	/*margin-top: .5em;*/
	margin-bottom: 2em;
}

#storyTitle{
 text-align: center;
}

.word {
	color: #00B239;
	font-size: 1.5em;
	font-family: "open sans condensed", helvetica, sans-serif;

}

#finishButtonStylingContainer{
	text-align: center;
	margin-left: 0;
	margin-top: .5em;
	margin-bottom: 2em;

}

#finishButton {
	background-color: #00B239;
	color: #373A3C;
	border-color: #373A3C; 
}

#finishButton:hover{
	background-color: #FFFF00; 
}

#gimme-title{
	color: #00B239 ;
}

.gimme-button{
	padding-right: 2.3em;
}

.gimme{
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	background-color: #FFFF00;
}
.gimme:hover{
	background-color: #00B239; 
}

/*Form Error Handling*/


input.ng-invalid.ng-dirty {
	outline-color: #CC1814;
	border-color: #CC1814;

}
.error > p{
	color: #CC1814;
}







