

<div class="row">
	<div class="col-md-10 col-md-push-2" >
			<p id="contentForm">
			Our school Cafeteria has really 
			<span id="wordOne" class="word"><span ng-hide='one.length'>_____</span>{{one}}</span> food. 

			Just thinking about it makes my stomach  
			<span id="wordTwo" class="word"><span ng-hide='two.length'>_____</span>{{two}}</span>. 

			The sphaghetti is 
			 <span id="wordThree" class="word"><span ng-hide='three.length'>_____</span>{{three}}</span> and tastes like 
			 
			  
			 <span id="wordFour" class="word"><span ng-hide='four.length'>_____</span>{{four}}</span>. 

			One day, I swear one of my meatballs started to 
			<span id="wordFive" class="word"><span ng-hide='five.length'>_____</span>{{five}}</span>! 

			The turkey tacos are totally 
			<span id="wordSix" class="word"><span ng-hide='six.length'>_____</span>{{six}}</span> and look kind of like old 
			

			<span id="wordSeven" class="word"><span ng-hide='seven.length'>_____</span>{{seven}}</span>. 

			My friend Dana actually likes the meatloaf, even though it's 
			<span id="wordEight" class="word"><span ng-hide='eight.length'>_____</span>{{eight}}</span> and 
			

			<span id="wordNine" class="word"><span ng-hide='nine.length'>_____</span>{{nine}}</span>. 

			I call it "mystery meatloaf" and think it's really made out of 

			<span id="wordTen" class="word"><span ng-hide='ten.length'>_____</span>{{ten}}</span>. 

			My dad said he'd make my lunches, but the first day, he made me a sandwich out of 

			<span id="wordEleven"class="word"><span ng-hide='eleven.length'>_____</span>{{eleven}}</span> and peanut butter! I think I'd rather take my chances with the cafeteria.
			</p>
			<button id="finish" ng-click="test = true" >finish</button>
	</div>

	<div class="col-md-2 col-md-pull-10">
		<form ng-submit="submit()">
	 	<div><input ng-model="one" name="one"  type="text" placeholder=" One - Adjective"></div>

		<div><input ng-model="two" name="two"  type="text" placeholder=" Two - Verb"></div>

		<div><input ng-model="three" name="three"  type="text" placeholder="Three - Adjective"></div>

		<div><input ng-model="four" name="four"  type="text" placeholder=" Four - Noun"></div>

		<div><input ng-model="five" name="five"  type="text" placeholder=" Five - Verb"></div>

		<div><input ng-model="six" name="six"  type="text" placeholder=" Six - Adjective"></div>

		<div><input ng-model="seven" name="seven"  type="text" placeholder="Seven - Noun"></div>

		<div><input ng-model="eight" name="eight"  type="text" placeholder=" Eight - Adjective"></div>

		<div><input ng-model="nine" name="nine"  type="text" placeholder=" Nine - Adjective"></div>

		<div><input ng-model="ten" name="ten"  type="text" placeholder=" Ten - Noun"></div>

		<div><input ng-model="eleven" name="eleven"  type="text" placeholder=" Eleven - Noun"></div>

		<div><button type="submit">submit</button></div>
		</form>
	</div>
		


  		

	
	
</div>

 